<%form_tag :action => 'create' do %>
<%=render :partial=>"signin"%>
<%end%>

  <div class="bg">
      <%if !insititution[0].nil?%>
      <a><img src="<%=insititution[1]%>" height="38" alt="CoolBrand"><%=insititution[0]%></br></a>
      <% end %>
      <div class="container">
        <div class="inside">
          <%form_tag :action => 'login' do %>
          <h3 style="color: green";>Login</h3>
          <label>User Name</label><br />
          <%=text_field_tag :user_name, '',:class=>"form-control",:required => true %><br />
          <label>Password</label><br />
          <%=password_field_tag :password, '',:class=>"form-control",:required => true%><br />
          <br />
          <%=submit_tag 'Login',:class=>"btn btn-success",:style=>"width: 65px; height: 40px;"%>
          &nbsp&nbsp&nbsp
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalContactForm" style="width: 106px; height: 40px;">New User?</button>
          <%end%>
        </div>
      </div>
  </div>
